{% extends "blog/base.html" %} {% block content %}
<h2>{{ object.title }}</h2>
<p>{{ object.content }}</p>
<p>by {{ object.author }} on {{ object.created_at }}</p>

{% if user == object.author %}
<a href="{% url 'blog:post_update' object.pk %}">Edit</a> |
<a href="{% url 'blog:post_delete' object.pk %}">Delete</a>
{% endif %}

<h3>Comments</h3>
{% if comments %}
<ul>
	{% for comment in comments %}
	<li>
		<strong>{{ comment.author }}</strong>: {{ comment.content }}
		<br />
		<small>{{ comment.created_at|date:"M d, Y H:i" }}</small>
	</li>
	{% endfor %}
</ul>
{% else %}
<p>No comments yet. Be the first to comment!</p>
{% endif %} {% if user.is_authenticated %}
<h3>Leave a Comment</h3>
<form
	method="post"
	action="{% url 'blog:comment_add' post.pk %}">
	{% csrf_token %} {{ comment_form.as_p }}
	<button type="submit">Post Comment</button>
</form>
{% else %}
<p><a href="{% url 'blog:login' %}">Log in</a> to leave a comment.</p>
{% endif %} {% endblock %}
